body{
    font-family: 'Montserrat';
}
h2{
    font-family: 'Montserrat';
    font-weight: bold;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
#top-heading{
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Monteserrat";
}

/* Download buttons */
.download-btn{
    margin: 5% 3% 5% 0;
}
.download-btn:hover{
    color:#ef8172;
}
.title-img{
    width: 30%;
    transform: rotate(20deg);
    position: absolute;
    right: 10%;
}
@media(max-width:1028px){
    .title-img{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    #title{
        text-align: center;
    }
}

/* features sec*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.feature-box{
    padding: 5%;
    text-align: center;
}
.icon{
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}
.sec2-hd{
    padding: 12px 0;
    color: rgb(41, 40, 40);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: bold;
}
.sec2-txt{
    color: rgb(58, 56, 56);
    font-family: "Ubuntu";
}

/* Testimonial sec */
#testimonials{
    color: #fff;
    text-align: center;
    background-color: #ff4c68;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Pricing section */
#pricing{
    padding:5%;
    text-align: center;
}
.pricing-col{
    padding:3% 2%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
}
#cta-head{
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
}
.cta-div{
    padding: 7% 15%;
}
.ctn-btn{
    margin: 5% 2% 0;
}
.ctn-btn:hover{
    color:#ef8172;
}

/* Copyright */
#footer{
    padding: 7% 15%;
    text-align: center;
}
#footer p{
    color: gray;
    font-family: 'Ubuntu';
    font-size: 0.8rem;
}
.icn{
    color: #1A374D;
    padding: 0 1% 1.5%;
}
.icn:hover{
    color:#ef8172;
}